body	{
	color: #050505;
	display: flex;
	padding: 1vh 4vw;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
	align-items: stretch;
	font-family: "Myriad Pro", "Segoe UI", sans-serif;
}

#name_details	{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #858585;
	font-family: "Myriad Pro", "Segoe UI", sans-serif;
}

#name	{
	font-size: 1.33em;
	font-family: "Myriad Pro Light", "Segoe UI Light", sans-serif;
}

#details	{
	font-size: 1.06em;
	display: flex;
	flex-direction: column;
}

#details p	{
	margin: 4% 0%;
}

#statement	{
	text-align: justify;
	width: 69%;
	color: #858585;
	font-size: 0.95em;
	font-style: italic;
	font-family: "Baskerville", "Century Schoolbook",serif;
	margin-bottom: 2%;
}

.information	{
	display: flex;
	flex-direction: row;
	padding-bottom: 5vh;
}

.lhs	{
	width: 20%;
	text-align: right;
	padding-right: 2%;
}

.lhs	h2	{
	margin-block-start: 0%;
}

.border-box	{
	height: 15vh;
	border-left: 2px solid #050505;
	border-right: 2px solid #858585;
}

.rhs	{
	width: 80%;
	padding-left: 2%;
}

.unit-header p	{
	font-family: "Baskerville", "Century Schoolbook", serif;
	color: #858585;
	margin-block-start: -1em;
	text-align: right;
}

.unit-header	h3	{
	margin-block-start: 0%;
}

.unit-list	{
	font-size: 0.95em;
}

.page-footer	{
	height: 5vh;
}

.rhs	table	{
	width: 100%;
	border: 2px solid;
	text-align: center;
}

.table-header	th {
	border: 1px solid;
	background-color: #cfcfcf;
	height: 3.33vh;
}

td	{
	font-size: 0.9em;
	padding: 2px;
	border-left: 1px solid;
	border-right: 1px solid;
}

tr	{
	height: 2em;
}

#education	{
	padding-bottom: 2vh;
}

.edu-details	h3	{
	margin-block-start: 0%;
	margin-block-end: 0%;
}

.edu-details	h4	{
	margin: 0%;
}

.edu-details	li	{
	list-style-type: none;
}
